/**
 * @file
 * This CSS file pertains to the look of content itself in FlightPath.
 */


body
{
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;   
  padding: 0;
  margin: 0;  
   z___background-color: #F2F2F2; 
  background-color: white;
  color: #555;
  height: 100%;  /* required for modal dialog to work correctly */
}

table {
  border-collapse: collapse;
}
/* 
 * Page top banner 
 */

.top-banner {

  background-color: white;
  margin: 0;
  border: 0;
  border-radius: 0;
  
}

.top-banner img {
  height: 70px;
  width: auto;
}




/* Tabs & search */


table.tabs-search-table {
  width: 820px; /* size of page-content + padding */
  display: block;
  min-height: 33px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  
  
  background-color: #F2F2F2;  
  
  
  
}

/* Are we in a popup window? */
.page-is-popup .tabs-search-table {
  width: 90%;  /* set to same as page-content in a popup */
}

table.tabs-search-table td {
  padding: 0;
  margin: 0;
}

table.tabs-table-tabs {
  width: 100%;
  text-align: left; 
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  
}

.tabs-table-tabs td {
  padding: 0;
  margin: 0;
}

table.tabs-search-table td.search-td {
  text-align: right;
  width: 100%;
  vertical-align: bottom;
  padding-right: 30px;  
}

.tab_left, .tab_left_i {
  display: none;
}

.tab_right, .tab_right_i { 
  display: none;
}




.active_tab, .inactive_tab {
  border-collapse: separate;
  position: relative;
  top: 4px;  
  color: #660000;
  cursor: default;  
  
  border: 0 !important;
  border-radius: 0;  
  padding: 10px 10px 5px 10px;  
  
}



.active_tab {  
  border-bottom: 3px solid white;
  background-color: white;    
  
  border-top: 2px solid #ccc !important;  
  
}



.inactive_tab {
  position: relative;
  top: 4px;  
  border-bottom: 1px solid #ccc;  
  color: #666;  
}


.inactive_tab_over { 
  border-collapse: separate;
   
  cursor: pointer;
  position: relative;
  top: 4px;
  
  border: 0;
  border-radius: 0;
  color: black;
  text-decoration: underline;
  padding: 10px 10px 5px 10px;  
     
}


.inactive_tab_over_no_link {
  color: #A0A0A0;
  cursor: default;
}

.tab_text
{
  font-family: Arial, Helvetica, sans serif;
  font-size: 0.8em;
}


/* Page content */
.page-content {
  width: 800px;  
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
  border: 0;  
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 2px;
  border-radius: 0;
  box-shadow: 0px 0px 50px #777;  
  
  
}
.page-is-popup .page-content {
  min-height: 250px;
  width: 90%;
}



/* bottom message / footer region */

.fp-bottom-message {
  font-size: 0.7em;
  
  color: white;  
  background-color: #373B44;
  
  margin-top: 50px;    
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
    

  min-height: 70px;
  border-top: 1px solid #030304;
  
  
}



.fp-bottom-message a {
  color: #ccc;
}

.fp-bottom-message a:hover {
  color: white;
  text-decoration: underline;
}








.level-3-raquo {
  padding: 0 5px 0 5px;
}

.c-fieldset-content {
  /*  the astericks mean "only for IE" */
  *margin-left: 10px;
  *margin-right: 10px;
}

.c-fieldset {
  margin-bottom: 10px;
}


.selection_highlight {
  background-color: #FFFF99;
}


img.fpmn-icon {
  position: relative;
  top: 4px;
  margin-right: 8px;
}


/* 
 * checkboxes.... 
 * 
 * */
span.advise-checkbox {
  width:14px;
  height:14px;
  display:inline-block;
  background: url('images/cb_eligible.gif') no-repeat top left;
}

span.advise-checkbox-eligible {
  background: url('images/cb_eligible.gif') no-repeat top left;
}

span.advise-checkbox-eligible-checked {
  background: url('images/cb_eligible-check.gif') no-repeat top left;
}

span.advise-checkbox-completed {
  background: url('images/cb_completed.gif') no-repeat top left;
}

span.advise-checkbox-completed-checked {
  background: url('images/cb_completed-check.gif') no-repeat top left;
}

span.advise-checkbox-disabled {
  background: url('images/cb_disabled.gif') no-repeat top left;
}

span.advise-checkbox-disabled-checked {
  background: url('images/cb_disabled-check.gif') no-repeat top left;
}

span.advise-checkbox-enrolled {
  background: url('images/cb_enrolled.gif') no-repeat top left;
}

span.advise-checkbox-enrolled-checked {
  background: url('images/cb_enrolled-check.gif') no-repeat top left;
}

span.advise-checkbox-retake {
  background: url('images/cb_retake.gif') no-repeat top left;
}

span.advise-checkbox-retake-checked {
  background: url('images/cb_retake-check.gif') no-repeat top left;
}






/**************/


/* What If selection screen */
#element-inner-wrapper-select_level_1_degrees,
#element-inner-wrapper-select_level_2_degrees
{
  max-height: 300px;
  overflow-y: scroll;
}





.full_admin_top_options
{
	font-size: 10pt;
	border: 1px solid maroon;
	padding: 2px;
	margin-left: 10px;
}



.sub-tabs {
  margin-bottom: 10px;
  margin-top: 0px;
  font-size: 0.9em;
}

.sub-tabs .gradbutton-active {
  font-weight: bold;
}
 
th {
  text-align: left;
}

.admin-message
{
	padding: 5px;
	margin: 5px;
	font-size: 10pt;
	background-color: #FFFACD;
}


.fp-semester-table {
  border-collapse: collapse;  
  width: 100%;
}

.fp-currently-advising {
  border-collapse: collapse;
  width: 100%;
}


.currently-advising-box-change-term a {
  color: white;
  padding-right: 20px;
  background: url('images/popup-t.gif') no-repeat top right;  
}




.print-graphic
{
  background-image: url('images/print.gif');
  width: 57px;
  height: 20px;
}

.fp-messages {
  border: 1px solid #FFCC66;
  background-color: #FFFFCC;
  padding: 5px 20px 5px 20px;
  
  margin: 5px;
  margin-bottom: 10px;
}
.fp-message {
  margin-top: 3px;
  margin-bottom: 10px;
}

.fp-message-error {
  color: red;
}

.fp-message .fp-message-backtrace {
  font-size: 0.8em;
  text-align: right;
  font-style: italic;
}


.fp-render-button
{  
	background: url('images/buttonbg1.jpg') #fff bottom left repeat-x;
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #BBBBBB;
	display: inline-block;	
	
	margin-right: 10px;
	/*min-width: 55px;	*/
}
.fp-render-button:hover
{
	border: 1px solid #808080;
}

.fp-render-button:active
{
	background: url('images/buttonbg1-down.jpg') #fff top left repeat-x;
	border: 1px solid #808080;
}


.selectVariableClassHidden
{
	
	visibility: hidden;
	overflow: hidden;
	background-color: #FFFFFF;
}

.selectVariableClass
{
	visibility: visible;
}

div.updateMsg
{
	border: 5px solid maroon;
	background-color: white;
	width: 200px;
	text-align: center;
	font-weight: bold;
	z-index: 9999;
}

.variableHoursList
{
 	position: absolute;
	background-color: white;
	border: 1px solid #333333;
	width: 150px;
 	/*z-index:12;*/
 }
 .variableHoursList a
 {
 	text-decoration: none;
 }
 .variableHoursList a:hover
 {
 	font-weight: bold;
 }
 

.tenpt
{
 font-size: 10pt;
 font-family: Arial;
}

.elevenpt
{
	font-size: 11pt;
	font-family: Arial;
}

.fixedlen
{
	font-family: Courier New;
	font-size: 10pt;
}

.smallspace
{
	padding-left: 15px;
}


.viewSelectorActive
{
	font-weight: bold;
	color: black;
	text-decoration: none;
}

.viewSelectorInactive
{
	font-weight: normal;
	text-decoration: none;
}
.viewSelectorInactive:hover
{
	font-weight: normal;
	text-decoration: none;
}


.superscript
{
/* mimic the apearance of a superscript */
	font-size: 7pt;
	position: relative;
	top: -5px;
}

.transfer_area
{
	background-color: white;
	color: black;
	border-style: solid;
	border-color: gray;
	width: 350px;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 150px;
	font-size: 11px;
	cursor: default;
}

a
{
	text-decoration: none; 
	color: #0080ff;	
}

a:hover
{
	text-decoration: underline; 
}

.falseLink
{
	text-decoration: none;
	color: blue;
	cursor: pointer;
}



.smallinput 
{
 font-size: 8pt;
 border-style: solid;
 border-width: 1px;
 border-color: #96a3dc;
 }

.smallbutton
{
 font-size: 8pt;
 border-style: solid;
 border-width: 1px;
 border-color: blue;
}

.tabinput
{
 font-size: 8pt;
 color: white;
 border-style: solid;
 border-width: 1px;
 border-color: white;
 background-color: maroon;
}

.tabbutton
{
 font-size: 8pt;
 border-style: solid;
 border-width: 1px;
 border-color: white;
}

td.underline
{
	border-bottom: 1px solid black;
}
td.u
{
 background-image:URL('images/underline.gif');
}

.uhand
{
 background-image:URL('images/underline.gif'); 
 cursor: pointer;
}

.hand
{
 cursor: pointer;
}



/* Bad name for what this is-- creates the gradient on the curved semester titles you see
 * on the degree plan.
 */
.blueTitle
{
  color: white;	
  background-color: #999 !important;	
}

.hypo
{
	background-color: #FDFFBB; 
	color: black;
}

.hypocolor
{
	color: black;
}

table.blueBorder
{
	border-bottom: solid 2px  #999;	
	border-right: solid 2px #999;
	border-left: solid 2px #999;
		
	
}




.completed  /* student passed course  */
{
 color: #1d7bff;
 text-decoration:none;
}


.course-assigned-more-than-one-degree td /* the course has been assigned to multiple degrees */
{
  background-color: #FFFF99;
  text-decoration: none;
}


.eligible /* elegible courses (student may take) */
{
 color: black;
 text-decoration:none;
 
}

.d  /*  developmental requirement */
{
 color: black;
 font-style:italic;

}


.locked  /* not elegible.  Student may not take this course. */
{
 color: gray;
 text-decoration:none;
}

.retake  /* student must re-take course.  Grade not good enough. */
{
 color: #ff5559;
 text-decoration:none;
}
.enrolled /* student is currently enrolled in course. */
{
 color: green;
 text-decoration:none;
}

blockquote.slo
{
           margin-top: 2px;
           margin-left: 20px;
           margin-bottom: 2px;
           padding: 0px;
}

table.box
{
        border-width: 1px;
        border-style: solid;
        border-color: white;
}

td.box
{
        border-style: solid;
        border-color: white;
}

table.saveoption
{
      border-style: solid;
      border-width: 1px;
      border-color: black;
      background-color: #ffffcc;

}

table.announcement
{
      border-style: solid;
      border-width: 1px;
      border-color: black;
      background-color: white;

}


.edit_col
{
 background-color: #ffffcc;
}


.rubric_col
{
 background-color: #CCFFFF;
}

.top_col
{
 background-color: #CCCCCC;
}

table.slo
{
        border-width: 1px;
        border-style: solid;
        border-color: white;
}

td.slo
{
        border-style: solid;
        border-color: black;
        border-width: 1px;
}


table.score
{
 border-width: 1px;
 border-style: solid;
 border-color: black;
}

td.score
{
 border-width: 1px;
 border-style: solid;
 border-color: black;
}

.side_padding {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}



.tab_padding {
	padding-right: 3px;
}

.nounderlink
{
	color: #1d7bff;
	text-decoration: none;
}

.nounderlink:hover
{
	color: #1d7bff;
	text-decoration: underline;
}


/*
Main
*/
.fp-menu-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.fp-menu-item-tight {
  padding-bottom:0;
}

.fp-menu-item .fp-menu-item-description {
  padding-left: 25px;
}

.fp-menu-item a {
  text-decoration: none;
  color: blue;
}
.fp-menu-item a:hover {
  text-decoration: underline;
}

.fp-warn-grant-full {
  font-size: 0.8em;
  color: red;
}






/*
Admin-console related
*/
.fp-user-management-permission 
{
  margin-bottom: 15px;
  padding-left: 20px;
}

.fp-user-management-permission-disabled {
  background-color: #eee;
  font-style: italic;
}

.fp-user-management-permission .fp-user-management-permission-line {
  padding-left: 20px;
  font-size: 0.8em;
}

.fp-user-management-permission-module-name {
  background-color: #eee;
  padding: 3px;
  margin-top: 10px;
  margin-bottom: 3px;
  font-weight: bold;
}

ul.top-menu-links {
  font-size: 0.8em;
  padding: 0;
  margin: 0;
}

ul.top-menu-links li {
  display: inline;
  padding-right: 20px;  
}

ul.top-menu-links li.first {
  list-style: none;
}



/*
 * Forms...
 */
label {
  display: block;
  font-weight: bold;  
}

.fp-form textarea {
  width: 100%;  
}

.form-element {
  margin-bottom: 20px;
}

.form-element .radio-element {
  padding: 5px;
}

label.label-for-radio,
label.label-for-checkbox
{
  font-weight: normal;
}

.form-element-description {  
  font-size: 0.8em;
  padding-left: 10px;
  margin-top: 5px;
  color: #444;
}

.form-element-description fieldset {
  margin-top: 5px;
  padding-bottom: 0px;
}

.form-required-ast {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 5px;
}

.form-element-error {
  border: 1px dotted red;
  padding: 5px;
}




a.form-popup-description {
  font-weight: normal;
  padding-left: 5px;
  text-decoration: none;
}

/**
 *   FPM related
 */

.fp-html-print-r-wrapper {
  font-size: 0.9em;
}

.fp-html-print-r-multi-row {
  background-color: #eee;
  border: 1px solid #bbb;
  padding: 5px;  
}

.fp-html-print-r-multi-row .fp-html-print-r-selector {
  cursor: pointer;  
}

.fp-html-print-r-multi-row > .fp-html-print-r-var-value {
  padding-left: 30px;
}

.fp-html-print-r-single-row {
  border-top: 1px solid #bbb;
}

.fp-html-print-r-var-name {
  color: #404000;
  font-weight: bold;
}

.fp-html-print-r-var-type {
  font-style: italic;
}

.fp-html-print-r-single-row .fp-html-print-r-var-value {
  font-weight: bold;
}

.student-search-advanced-tips-wrapper {
  font-size: 0.8em;
}

.student-search-advanced-tips-wrapper label {
  display:block;
  font-weight: bold;
}


/**
 *   General form elements
 */
___general_form_elements{}

label {
  font-size: 0.9em;
}

.element-type-textfield input,
.element-type-password input,
.element-type-datetime-local input,
.element-type-time input,
.element-type-search input
 {
  font-size: 1.0em;
  font-weight: normal;
  border: 1px solid #8E929C;
  padding: 1rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.15);
  border-radius: 4px;
  filter: none;
}

.element-type-datetime-local input,
.element-type-time input
 {
  font-family: Arial, Helvetica, sans-serif;
}

.element-type-submit input
 {
  font-size: 1.0em;
  padding: 1rem;
  background-color: #0095ff;
  border: 1px solid #1E90FF;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.element-type-submit input:hover
 {
  background-color: lightskyblue;
  
}

.form-checkboxes label.label-for-checkbox {
  display: inline-block;
}


.element-type-select select {
  font-size: 1.0em;
  font-size: 1.0em;
  font-weight: normal;
  border: 1px solid #8E929C;
  padding: 1rem;  
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 1px 2px rgb(0,0,0,0.15);
  border-radius: 4px;
  filter: none;
}

.element-wrapper--hidden {
  display: none;
}

.form-element-editor-after-wrapper-description {
  margin-bottom: 10px;
  padding-left: 10px;
  font-size: 0.9em;
}




input::placeholder {  
  opacity: 0.7;
}


.section-box-title {
  background-color: #aaa;
  border-bottom: 5px solid #999;
  color: white;
  text-align: center;
  padding: 2px;
  padding-bottom: 0;
  font-weight: 500;
  margin-bottom: 5px;
}


#page-print-options {
  float: right;
  padding-left: 20px;
  padding-right: 10px;
  font-size: 1.4em;
}


a.button {
    display: inline-block;
    color: white;
    font-weight: 600;
    border: 1px solid #1E90FF;    
    background-color: #0095ff;
    padding: 9px;
    margin-bottom: 15px;
    text-decoration: none;
    margin-right: 10px;
}

a.button:hover {    
  background-color: lightskyblue;      
}


div.pager-wrapper {
    border-top: 1px solid #ccc;
}

ul.pager {
  
    margin: 1.75em 0 0.75em;
    clear: both;
    text-align: center;
}


ul.pager li {
    background-image: none;
    display: inline;
    list-style-type: none;
    padding: 0.5em;
    margin: 0 0 0.25em 0.5em;
    font-size: 14px;
}

ul.pager li.pager-current {
    color: #fff;
    padding: 0.5em;
    background-color: #bbb;
    border: 1px solid #000;
}














___page--stats{}

.page--admin-tools-stats .stats-main-menu {
  margin-bottom: 30px;
}






/**
 *   Login Page
 */
___page--login{}

.page--login {
  background-color: #F5F5F5;
}

.page--login .top-banner {
  padding-top: 40px;  
}

.page--login #page-login-user-form {
  float: left;
  width: 45%;  
  text-align: center; 
  
}

.page--login #page-login-page__wallpaper {
  position: relative;
  float: right;
  width: 55%; 
  z___background: url('images/bird1.jpg') top left no-repeat;  
  background: url('https://www.kedm.org/sites/kedm/files/styles/x_large/public/202001/ulm_ce_classes.jpg') top left no-repeat;  
  
  background-size: cover; 
}


.page--login .login-content-div .left-side-content {
  text-align: left;
  display: inline-block;
  width: 400px; 
  margin-top: 80px;
}

.page--login .fp-form-system_login_form {
  padding: 0 !important;
}

.page--login .fp-form-system_login_form label {
  display: block !important;
}

.section-box-title-block-system-login_form {
  display: none;
}
.page--login h2.login-welcome {
  margin-top: 60px;
  font-weight: normal;
  font-size: 2.5em;
}

.page--login .login-content-div .form-element {
  margin-bottom: 40px;
}

.page--login .element-type-submit input {
  width: 100%;  
}
.page--login .login-content-div .element-type-submit {
  margin-bottom: 10px;
}


.page--login .form-element-description {
  padding-left: 0;
  font-family: inherit;
  color: #777;
}

.page--login #login-form-forgot-password {
  text-align: right;  
}

.page--login a {
  color: black;
}

.page--login #school-logo img {
  width: 200px;
  height: auto;
   
}

.page--login #school-logo {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  
}




/* All of the top-nav stuff goes here */
___top_nav{}

#header {
  border-bottom: 1px solid #ddd;
}

ul.top-nav-ul {  
  list-style-type: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  float: right;  
  display: inline-block;  
}

ul.top-nav-ul li {
  
  display: table-cell;  
  padding-right: 30px;
  padding-left: 30px;
  border-right: 1px solid #ccc;  
  height: 35px;
  vertical-align: middle;
}

ul.top-nav-ul li.last {
  border-right: 0;
  margin-right: 10px;
}

#header #top-nav form {
  display: inline;
  padding: 0;
  margin: 0;
}

#header #top-nav form .smallinput {
  width: 300px;
  padding: 0.5em 1em;
  border: 1px solid #ccc;
  font-size: 0.9em;
  border-radius: 5px;
}

#header #top-nav form a {
  font-size: 1.2em;
  margin-left: 10px;
}

ul.top-nav-ul li.user-options i {
  font-size: 1.2em;
}


#main-contant-wrapper {
  min-height: calc(100vh - 250px);
  box-sizing: border-box;
}


.top-nav-ul .tub-user-menu .tub-caret-down {
  font-size: 0.8em;
  padding-left: 10px;
}

.top-nav-ul .tub-user-menu {
  position: relative;
}
.top-nav-ul #tub-user-pulldown {
  z-index: 99;
  min-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: white;
  color: black;
  padding: 10px;
  font-size: 0.85em;
  border: 1px solid #ccc;
  position: absolute;
  right: 10px;
  top: 45px;
}


#header #top-nav #tub-user-pulldown .user-pulldown {
  padding-left: 20px ;  
  list-style-type: circle;
}

#header #top-nav #tub-user-pulldown .user-pulldown li {
  display: block;
  border: 0;
  padding-left: 10px;
  list-style-type: circle;
  height: auto;
  line-height: 1.9em;
}


.tub-icon-element-alert {
  position: relative;
}
.tub-icon-element-alert .tub-alert-count {
  position: relative;
  display: inline-block;
  min-width: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
  top: 8px;
  left: -5px;
  color: #eee;
  background-color: #b22222;
  font-size: 0.7em;
  font-weight: bold;
  border-radius: 15px;
}









___sidebar-left{}

.has-sidebar-left #page-content {
  display: inline-block;
  vertical-align: top;
  padding-left: 20px;
  padding-top: 10px;
  width: calc(100vw - 200px);
  max-width: 1500px;
}


#sidebar-left {  
  
  display: inline-block;
  vertical-align: top;
  
  width: 120px;
  
  background-color: #999999;
}

ul.sidebar-left-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.sidebar-left-nav li {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  
}

ul.sidebar-left-nav li .desc {
  color: white;
  font-weight: 700;
  font-size: 0.9em;
}

ul.sidebar-left-nav li:hover {
  background-color: #777;
}

ul.sidebar-left-nav li i {
  font-size: 2.1em;
  color: white;
}

ul.sidebar-left-nav li.students i,
ul.sidebar-left-nav li.analytics i
 {
  font-size: 2em;
}


.clear {
  clear: both;
}






___hamburger_menu{}

#mobile-hamburger-menu {
  z-index: 9999;
  position: absolute;
  top: 50px;
  left: 0px;
  background-color: #999999;
  width: 170px;  
}

#mobile-hamburger-menu .logout {
  border-top: 1px solid white;
}

.mobile-top-nav {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.mobile-top-nav ul.top-nav-ul{
  display: inline-block;
  float: none;
  
  font-size: 1.9em;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
  
}










___breadcrumbs{}

#breadcrumb-inner-wrapper {
  float: left;
  display: block;
    margin-left: 13px;  
}



#breadcrumb-inner-wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs {
  display: block;
}

.breadcrumbs li.first {
    padding-left: 8px;
}
.breadcrumbs li {
    display: inline;
}

.breadcrumbs li a, .breadcrumbs li a:link, .breadcrumbs li a:visited {
    color: #666;
    display: block;
    float: left;
    font-size: 12px;
    margin-left: -13px;
    padding: 5px 17px 11px 18px;
    position: relative !important;
    text-decoration: none;
}
.breadcrumbs li a {
    background-image: url(images/bg-crumbs.png);
    background-repeat: no-repeat;
    background-position: 100% 0;
    position: relative !important;
}

.breadcrumbs li a:hover{
  color:#333;
  background-position:100% -48px;
  cursor:pointer;
}

.breadcrumbs li a:active{
  color:#333;
  background-position:100% -96px;
}


___tabs{}

.page-tabs-wrapper {
  margin-top: 10px;
}

ul.tabs {  
  margin: 0;
  padding: 0;
  padding-left: 20px;
  list-style: none;
  border-bottom: 1px solid #ccc;
}

ul.tabs li.tab {
  position: relative;
  top: 1px;
  display: inline-block;
  padding: 3px 10px 3px 10px;  
  border-bottom: 1px solid #ccc;
}

ul.tabs li.active {
  border: 1px solid #ccc;
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid white;
  background-color: white;
}

ul.tabs li.active a {
  color: black;
  font-weight: bold;
  cursor: default;
}

ul.tabs li.active a:hover {
  text-decoration: none;
}

ul.tabs li.inactive a {
  color: #888;
}

body.has-page-tabs .inner-page-content-wrapper {
  margin-top: 10px;
  margin-left: 20px;
}



___history_tab{}

.history-comment-row {
  margin-top: 5px;
  margin-bottom: 5px;
}



___advising_screens{}

.degree-plan-wrapper {
  max-width: 1024px;
}
.fp-semester-table td {
  font-size: 1.0em;
}

.fp-semester-table .fp-box-top {
  width: 95%;
  
}

.fp-semester-table td.fp-boxes {
  width: 50%;
}


/*
  This starts off a "box", like "Freshman Year" or "Excess Credits"
*/
table.fp-box-top {
  margin-bottom: 10px;
}


.what-if-selector {
  width: 90%;
}

.sub-tabs .subtab-link-wrapper label {
  display: inline-block;
  font-weight: normal;
}

.sub-tabs .subtab-link-wrapper a {
  padding-left: 10px;
  color: #999;
}

.sub-tabs .subtab-link-wrapper a:hover {
  color: inherit;
}
 
.sub-tabs .change-term-link {
  padding-left: 30px;
  font-size: 1.2em;
}






___popups_and_dialog{}

/* Don't display if this is a popup! */

.page-is-popup #header,
.page-is-popup .fp-bottom-message,
.page-is-popup h2.title,
.page-is-popup #breadcrumbs-wrapper,
.page-is-popup #sidebar-left
 {
  display: none;
}


.page-is-popup #page-content {
  width: calc(100vw - 30px) !important;  
  padding-left: 0;
  padding-right: 10px;
}



.ui-dialog {
  background-color: white;
}


.ui-dialog .ui-widget-content,
.ui-widget-content
{
  background: white !important;
}

.ui-dialog .ui-dialog-content {
  padding: 0;
  padding-left: 10px;
}

.ui-dialog iframe {
  border: 0;
}

.ui-widget-header {
  color: white;
  background: #aaa;
  border: 0;
  border-bottom: 5px solid #999;
  border-radius: 0;
}

.ui-widget-header button:focus {
  outline: none;  
}

.ui-widget-overlay {
  opacity: 0.2;
}


iframe#fp-iframe-dialog-small-iframe {
  width: calc(100% - 10px);  
}

iframe#fp-iframe-dialog-large-iframe {
  width: calc(100% - 10px);  
}











___student_mini_profile{}

.student-mini-profile .header-profile-image {
    display: inline-block;
    width: 80px;
    height: 100px;
    overflow: hidden;
    border-radius: 5px;
    float: left;
    margin-right: 20px;
}

.student-mini-profile .header-profile-image img {
  width: 100%;
  height: auto;
}

.student-mini-profile .profile-top-details-wrapper {
    float: left;
    width: calc(100% - 500px);
    max-width: 550px;
}

.student-mini-profile .student-header .profile-detail-line {
    margin-bottom: 3px;
}
.student-mini-profile .profile-top-details-wrapper .profile-detail-line {
    font-size: 1.05em;
    margin-bottom: 10px;
    z__border-bottom: 1px solid #ccc;
}

.student-mini-profile .profile-detail-line label {
    display: inline-block;
    min-width: 150px;
    font-weight: bold;
}

#page-student-mini-profile-wrapper  {
  margin-left: 20px;
  margin-top: 20px;  
  margin-bottom: 0px;
  border-bottom: 1px solid #eee;
}

.student-mini-profile h2 {
  margin: 0;
  font-weight: 400;
}

.student-mini-profile .degree-title {
  display: inline;
}

.student-mini-profile .catalog-year-alert-early a {
  color: orange;  
  padding-left: 10px;
}

.student-mini-profile .catalog-year-alert-too-far a {
  color: orange;  
  padding-left: 10px;
}

.student-mini-profile h2.what-if-notice {
  font-weight: bold;
  display: inline-block;
}

.student-mini-profile .what-if-change-settings {
  padding-left: 20px;
  font-weight: bold;
  font-size: 0.8em;
}


.degree-op-link {
  padding-right: 10px;
  padding-left: 10px;
}

.student-mini-profile-what-if-mode {
  background-color: lemonchiffon;
  padding: 10px;
}

.student-mini-profile a {
  color: #999;
}
.student-mini-profile a:hover {
  color: inherit;
}












