
.element-wrapper--school-use-default-values-checkbox {
  border: 3px solid #888;
  padding: 10px;
  margin: 10px 0px 50px; 0px;
  font-size: 1.2em;
}

#use-default-remember {
  display: none;
  margin-top: 10px;
  font-weight: bold;
}