
.markup-element-markup_school_use_default_school_values {
  border: 3px solid #888;
  padding: 10px;
  margin: 10px 0px 50px; 0px;
  font-size: 1.2em;
}

#use-default-remember {
  display: none;
  margin-top: 10px;
  font-weight: bold;
}

.schools-override-cb input {
  width: auto;
}
.schools-override-cb {
  display: inline-block;  
  font-size: 0.8em;  
  font-style: italic;
}
.schools-override-cb label {
  font-weight: normal;
}