/nbproject/private/
/flightpath-dev backup.sql
/TODO.txt
/flightpath_extra_data.sql
/ - Copy.project
/flightpath/custom/settings.php
/flightpath/custom/files/syllabi/
/flightpath/install/nbproject
 - Copy.project
flightpath_extra_data.sql
flightpath-dev backup.sql
TODO.txt
