.content-edit-controls .form-element,
.content-edit-controls label
 {
  display: inline;
  padding-right: 10px;
}

body.content-tabs-false .page-tabs-wrapper ul.tabs {
  display: none !important;
}


.markup-element-content_title {
  display: none;
}

body.page-is-popup .markup-element-content_title {
  display: block;
  font-size: 1.3em;
  font-weight: bold;
}



.element-wrapper--content-submit-btn,
.element-wrapper--content-delete-btn
 {
  display: inline-block;
  margin-right: 25px;
}

.element-wrapper--content-delete-btn input {
  background-color: #777;
  border-color: #333;
}


.element-wrapper--content-delete-btn input:hover {
  background-color: #aaa;
  
}

.content-deleted {
  color: red;
  font-weight: bold;
  font-size: 1.1em;
}


.public-files-table {
  width: 100%;
}

.public-files-table .delete-link {
  color: red;
}

.public-files-table .row-odd {
  background-color: #ddd;
}
