/**
 * @file
 * This is where the CSS directly related to the theme's layout goes.  For example, CSS regarding
 * corners of tables, width of page, etc.
 */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

body
{
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  
  padding: 0;
  margin: 0;  
  background-color: #F2F2F2;

}

/* 
 * Page top banner 
 */

.top-banner {

  background-color: white;
 
  text-align: center;
  width: 100%;
  margin: 0;
  border: 0;
  border-radius: 0;

  
  border-bottom: 1px solid #ccc;  
  padding-bottom: 20px;
  margin-bottom: 20px;
  z-index: 9999 !important;
 
  
}

/* Don't display if this is a popup! */
.page-is-popup .top-banner {
  display: none;
}



/* Tabs & search */


table.tabs-search-table {
  width: 820px; /* size of page-content + padding */
  display: block;
  min-height: 33px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  
  
  background-color: #F2F2F2;  
  
  
  
}

/* Are we in a popup window? */
.page-is-popup .tabs-search-table {
  width: 90%;  /* set to same as page-content in a popup */
}

table.tabs-search-table td {
  padding: 0;
  margin: 0;
}

table.tabs-table-tabs {
  width: 100%;
  text-align: left; 
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  
}

.tabs-table-tabs td {
  padding: 0;
  margin: 0;
}

table.tabs-search-table td.search-td {
  text-align: right;
  width: 100%;
  vertical-align: bottom;
  padding-right: 30px;  
}

.tab_left, .tab_left_i {
  display: none;
}

.tab_right, .tab_right_i { 
  display: none;
}




.active_tab, .inactive_tab {
  border-collapse: separate;
  position: relative;
  top: 4px;  
  color: #660000;
  cursor: default;  
  
  border: 0 !important;
  border-radius: 0;  
  padding: 10px 10px 5px 10px;  
  
}



.active_tab {  
  border-bottom: 3px solid white;
  background-color: white;    
  
  border-top: 2px solid #ccc !important;  
  
}



.inactive_tab {
  position: relative;
  top: 4px;  
  border-bottom: 1px solid #ccc;  
  color: #666;  
}


.inactive_tab_over { 
  border-collapse: separate;
   
  cursor: pointer;
  position: relative;
  top: 4px;
  
  border: 0;
  border-radius: 0;
  color: black;
  text-decoration: underline;
  padding: 10px 10px 5px 10px;  
     
}


.inactive_tab_over_no_link {
  color: #A0A0A0;
  cursor: default;
}

.tab_text
{
  font-family: Arial, Helvetica, sans serif;
  font-size: 0.8em;
}


/* Page content */
.page-content {
  width: 800px;  
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  
  border: 0;  
  padding: 20px;
  padding-bottom: 50px;
  margin-bottom: 2px;
  border-radius: 0;
  box-shadow: 0px 0px 50px #777;  
  
  
}
.page-is-popup .page-content {
  min-height: 250px;
  width: 90%;
}



/* bottom message / footer region */

.fp-bottom-message {
  font-size: 0.7em;
  width: 100%;
  color: white;  
  background-color: #373B44;
  
  margin-top: 50px;    
  margin-left: auto;
  margin-right: auto;
  
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 40px;
    

  min-height: 70px;
  border-top: 1px solid #030304;
  
  
}

.page-is-popup .fp-bottom-message {
  width: 90%;
  margin: 0;
  
  background-color: transparent !important;  
  min-height: 0;
  border-top: 0;
  padding: 0;  
}



.fp-bottom-message .popup-contact {
  display: block;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  
}

.fp-bottom-message a {
  color: #ccc;
}

.fp-bottom-message a:hover {
  color: white;
  text-decoration: underline;
}





