.course-search-course-title-row {
  font-weight: bold;
}

.course-search-repeat {
  padding-left: 10px;
  font-weight: normal;
}

.course-search-course-block {
  margin-bottom:20px; 
  margin-left: 10px; 
}

.course-search-sample-syllabus {
  font-size: 0.9em;
}
    
table.fp-course-search-avail td {
  width: 14%;
  text-align: center;
  font-size: 0.9em;
}