
.admin-degrees-list-degree .list-degree-row {
  padding-bottom: 3px; 
  padding-top: 3px; 
  font-size: 0.9em;
}
.list-degree-row-excluded {
  background-color: #ddd;
}
 
.admin-button-msg {
  padding-left: 30px;
  font-style: italic;
  color: #999;
}

.admin-degrees-upper-links {
  font-size: 0.8em;
  margin-bottom: 5px;
}


.admin-courses-select-letter-bar {
  background-color: #ddd; 
  margin-bottom:10px; 
  text-align: center; 
  padding: 3px; 
  margin:3px;  
}

.admin-advising-settings {
  font-size: 0.85em;
}



.watchdog-table {
  font-size: 0.8em;
  width: 100%;
}

.watchdog-table .row-odd {
  background-color: #ddd;
}

.watchdog-table .row-alert {
  background-color: #FFCC99;  
}

.watchdog-table .row-error {
  background-color: #FF9999;
}

.watchdog-table .row-debug {
  background-color: #FFFFCC;
}
.fp-pager {
  margin-top: 15px;
  text-align: center;
}
.fp-pager a {
  text-decoration: none;
  color: blue;
}
.fp-pager .pager-link {
  padding-right: 7px;
  padding-left: 7px;
  
}
.fp-pager .pager-current {
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
}