
table.user-list  {
  font-size: 0.85em;
}


/* Permissions page */
table.admin-perm-table {
  background-color: white !important;
}

.admin-perm-table .perm-desc {
  padding-left: 10px;
  font-style: italic;
  font-size: 0.85em;
}

.admin-perm-table th {
  text-align: center;
  vertical-align: top;
  font-size: 0.8em;  
  border-left: 1px solid #ccc;
}

.admin-perm-table td
 {
  font-size: 0.85em;
}

.admin-perm-table td.perm-cb {
  text-align: center;
}

.admin-perm-table .perm-module-name {
  background-color: #D4E7F3;
  font-weight: bold;
  font-size: 1.2em;
  padding:10px;
  
  border-top: 50px solid white;
}

.admin-perm-table .perm-cb-row-even {
  background-color: #EDF5FA;
}

.admin-perm-table .perm-details {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.admin-perm-table .perm-name {
  font-style: italic;
  font-size: 0.9em;
  color: #aaa;
  display: none;
  
}

.admin-perm-table .perm-desc {
  color: #777;
  font-size: 0.9em;
}


.admin-perm-table {
  position: relative;
}

.admin-perm-table .headers th {
  position: sticky;
  top: 0px;
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
  background-color: #faf9f6;
  color: #555;
  min-width: 75px;
  vertical-align: middle;  

}

.admin-perm-table .perm-cb-row:hover {
  background-color: lightyellow;
}

.admin-perm-table tr.perm-cb-row td {
  vertical-align: middle;
}

.admin-perm-table tr.perm-cb-row td div.form-element {
  margin-bottom: 0px;
}

.admin-perm-table .headers th.permission-name-and-desc {
  min-width: 400px;
}


.admin-perm-table .headers th.role-anonymous_user 
{
  background-color: #ddd;
}

.admin-perm-table .headers th.role-authenticated_user {
  background-color: #eee;
}



table.user-list tr.no-roles {
  background-color: #eee;
}

form.filters {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8em;
}

.user-profile-markup-faculty .small-profile-image {
  float: left;
  margin-right: 20px;
}

.user-profile-markup-faculty .small-profile-image img {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.user-profile-markup-faculty .profile-item {
  font-size: 1.3em;
  line-height: 1.9em;
}


.markup-element-mark_clear {
  clear: both;
}


.selected {
  border: 1px solid blue;
  padding: 0 3px;
}

___users-page{}
#fp-form-user_list_filter_form .markup-element-mark_top,
#fp-form-user_list_filter_form #element-wrapper-filter_school,
#fp-form-user_list_filter_form #element-wrapper-filter_role,
#fp-form-user_list_filter_form #element-wrapper-filter_dept,
#fp-form-user_list_filter_form #element-wrapper-filter_name,
#fp-form-user_list_filter_form #element-wrapper-submit_btn,
#fp-form-user_list_filter_form #element-wrapper-reset_btn,
#fp-form-user_list_filter_form #element-wrapper-filter_school div,
#fp-form-user_list_filter_form #element-wrapper-filter_school label,
#fp-form-user_list_filter_form #element-wrapper-filter_school select,
#fp-form-user_list_filter_form #element-wrapper-filter_name div,
#fp-form-user_list_filter_form #element-wrapper-filter_name label,
#fp-form-user_list_filter_form #element-wrapper-filter_name input,
#fp-form-user_list_filter_form #element-wrapper-filter_dept div,
#fp-form-user_list_filter_form #element-wrapper-filter_dept label,
#fp-form-user_list_filter_form #element-wrapper-filter_dept select,
#fp-form-user_list_filter_form #element-wrapper-filter_role div,
#fp-form-user_list_filter_form #element-wrapper-filter_role label,
#fp-form-user_list_filter_form #element-wrapper-filter_role select,
#ignore .ignoreme
 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;  
  width: auto; 
}

#fp-form-user_list_filter_form select
{
  max-width: 200px;
}

#fp-form-user_list_filter_form #element-wrapper-reset_btn {
  margin-left: 20px;
}



___users-students-page {}

#fp-form-user_student_list_filter_form .markup-element-mark_top,
#fp-form-user_student_list_filter_form #element-wrapper-filter_school,
#fp-form-user_student_list_filter_form #element-wrapper-filter_active,
#fp-form-user_student_list_filter_form #element-wrapper-filter_major,
#fp-form-user_student_list_filter_form #element-wrapper-filter_name,
#fp-form-user_student_list_filter_form #element-wrapper-submit_btn,
#fp-form-user_student_list_filter_form #element-wrapper-reset_btn,
#fp-form-user_student_list_filter_form #element-wrapper-filter_school div,
#fp-form-user_student_list_filter_form #element-wrapper-filter_school label,
#fp-form-user_student_list_filter_form #element-wrapper-filter_school select,
#fp-form-user_student_list_filter_form #element-wrapper-filter_name div,
#fp-form-user_student_list_filter_form #element-wrapper-filter_name label,
#fp-form-user_student_list_filter_form #element-wrapper-filter_name input,
#fp-form-user_student_list_filter_form #element-wrapper-filter_major div,
#fp-form-user_student_list_filter_form #element-wrapper-filter_major label,
#fp-form-user_student_list_filter_form #element-wrapper-filter_major select,
#fp-form-user_student_list_filter_form #element-wrapper-filter_active div,
#fp-form-user_student_list_filter_form #element-wrapper-filter_active label,
#fp-form-user_student_list_filter_form #element-wrapper-filter_active select,
#ignore .ignoreme
 {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 0;  
  width: auto; 
}

#fp-form-user_student_list_filter_form select
{
  max-width: 200px;
}

#fp-form-user_student_list_filter_form #element-wrapper-reset_btn {
  margin-left: 20px;
}




