
table.user-list  {
  font-size: 0.85em;
}


/* Permissions form */

/* Permissions page */
table.admin-perm-table {
  background-color: white;
}

.admin-perm-table .perm-desc {
  padding-left: 10px;
  font-style: italic;
  font-size: 0.85em;
}

.admin-perm-table th,
.admin-perm-table td
 {
  font-size: 0.85em;
}

.admin-perm-table td.perm-cb {
  text-align: center;
}

.admin-perm-table .perm-module-name {
  background-color: #D4E7F3;
  font-weight: bold;
  padding: 3px;
  border-top: 1.5em solid white;
}

.admin-perm-table .perm-cb-row-even {
  background-color: #EDF5FA;
}

.admin-perm-table .perm-details {
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.admin-perm-table .perm-name {
  font-style: italic;
  font-size: 0.9em;
  color: #aaa;
  display: none;
  
}

.admin-perm-table .perm-desc {
  color: #777;
  font-size: 0.9em;
}



.admin-perm-table .headers th {
  
  padding-top: 5px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  color: #555;
}

table.user-list tr.no-roles {
  background-color: #eee;
}

form.filters {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  font-size: 0.8em;
}