/**
 * @file
 * This is where the CSS directly related to the theme's layout goes.  For example, CSS regarding
 * corners of tables, width of page, etc.
 */


body
{
  font-family: Arial, Helvetica, sans serif;
  background-color: #ECECDB;
}

/* 
 * Page top banner 
 */

.top-banner {
  width: 820px;  /* the size of page-content + padding */
  margin-left: auto;
  margin-right: auto;  
  margin-bottom: 1.2em;
  background-color: white;
  border: 3px solid #ccc;
  border-radius: 5px;
  
}

/* Don't display if this is a popup! */
.page-is-popup .top-banner {
  display: none;
}



/* Tabs & search */


table.tabs-search-table {
  width: 820px; /* size of page-content + padding */
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ECECDB;
}

/* Are we in a popup window? */
.page-is-popup .tabs-search-table {
  width: 90%;  /* set to same as page-content in a popup */
}

table.tabs-search-table td {
  padding: 0;
  margin: 0;
}

table.tabs-table-tabs {
  width: 100%;
  text-align: left; 
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  
}

.tabs-table-tabs td {
  padding: 0;
  margin: 0;
}

table.tabs-search-table td.search-td {
  text-align: right;
  width: 100%;
  vertical-align: bottom;
  padding-right: 30px;  
}

.tab_left, .tab_left_i {
  display: none;
}

.tab_right, .tab_right_i { 
  display: none;
}


.active_tab, .inactive_tab {
  border-collapse: separate;
  position: relative;
  top: 4px;  
  color: #660000;
  cursor: default;  
  padding: 5px 5px 0px 5px;
  border: 3px solid #ccc;
  border-radius: 5px;
}

.active_tab {  
  border-bottom: 3px solid white;
  background-color: white;    
}

.inactive_tab {
  position: relative;
  top: 4px;
  color: #A0A0A0;
  border-bottom: 1px solid #ccc;  
}

.inactive_tab_over { 
  border-collapse: separate;
    
  padding: 5px 5px 0px 5px;
  border: 3px solid #ccc;  
  border-radius: 5px;
  
  cursor: pointer;
  position: relative;
  top: 4px;
  color: black;
  border-bottom: 1px solid #ccc;   
}


.inactive_tab_over_no_link {
  color: #A0A0A0;
  cursor: default;
}

.tab_text
{
  font-family: Arial, Helvetica, sans serif;
  font-size: 0.8em;
}


/* Page content */
.page-content {
  width: 800px;  
  min-height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 50px;
  border: 3px solid #ccc;
  border-radius: 5px;
  background-color: white;
}
.page-is-popup .page-content {
  min-height: 250px;
  width: 90%;
}

/* bottom message / footer region */

.fp-bottom-message {
  font-size: 0.7em;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
}

.page-is-popup .fp-bottom-message {
  width: 90%;
  margin: 0;
}

